/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Weather */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #3d3d3d; }
  html .weather-rainbow header {
    position: fixed;
    top: 0;
    left: 0;
    width: 65%;
    background: rgba(255, 255, 255, 0.5); }
    html .weather-rainbow header .locations {
      float: left; }
    html .weather-rainbow header h1 {
      float: left; }
  html .weather-rainbow main {
    float: left;
    width: 100%; }
  html .weather-rainbow .inner {
    padding: 20px; }
    html .weather-rainbow .inner.opacity-7 {
      background: rgba(255, 255, 255, 0.4);
      height: 100vh;
      overflow: scroll; }
  html .weather-rainbow .intro {
    width: 100%;
    float: left;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    html .weather-rainbow .intro.background-1 {
      background: url("../src/images/rainbow-1.jpg") no-repeat center center fixed; }
    html .weather-rainbow .intro.background-2 {
      background: url("../src/images/rainbow-2.jpg") no-repeat center center fixed; }
    html .weather-rainbow .intro.background-3 {
      background: url("../src/images/rainbow-3.jpg") no-repeat center center fixed; }
    html .weather-rainbow .intro.background-4 {
      background: url("../src/images/rainbow-4.jpg") no-repeat center center fixed; }
    html .weather-rainbow .intro .search-area {
      width: 370px;
      margin: 40px auto; }
      html .weather-rainbow .intro .search-area .search-city {
        width: 300px;
        height: 60px;
        border: none;
        border-bottom: 1px solid black;
        background: transparent;
        font-size: 2em;
        padding: 10px; }
      html .weather-rainbow .intro .search-area .search-city-click {
        border: none;
        height: 55px;
        font-size: 2em;
        margin-left: 10px;
        background: none;
        cursor: pointer; }
    html .weather-rainbow .intro .cities {
      width: 100%; }
      html .weather-rainbow .intro .cities .city {
        float: left;
        margin-bottom: 10px;
        width: 20%;
        display: block;
        cursor: pointer; }
        html .weather-rainbow .intro .cities .city.inactive {
          display: none; }
  html .weather-rainbow .weather {
    width: 35%;
    float: right; }
    html .weather-rainbow .weather .interval {
      width: 100%;
      float: left;
      display: block;
      margin-bottom: 10px; }
  html .weather-rainbow .present-weather {
    float: left;
    width: 65%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 10px solid #ffffff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    html .weather-rainbow .present-weather.Clear {
      background: url("../src/images/rainbow-Clear.jpg") no-repeat center center fixed; }
    html .weather-rainbow .present-weather.Clouds {
      background: url("../src/images/rainbow-Clouds.jpg") no-repeat center center fixed; }
    html .weather-rainbow .present-weather.Rain {
      background: url("../src/images/rainbow-Rain.jpg") no-repeat center center fixed; }
    html .weather-rainbow .present-weather.Snow {
      background: url("../src/images/rainbow-Snow.jpg") no-repeat center center fixed; }
    html .weather-rainbow .present-weather .temperature {
      height: 150px;
      width: 100%;
      position: absolute;
      top: calc(50vh - 75px); }
      html .weather-rainbow .present-weather .temperature p {
        font-size: 1.5em; }
  html .weather-rainbow .box {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    text-align: center; }
    html .weather-rainbow .box.temp--7 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--6 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--5 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--4 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--3 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--2 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp--1 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-0 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-1 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-2 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-3 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-4 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-5 {
      background: rgba(116, 202, 254, 0.5); }
    html .weather-rainbow .box.temp-6 {
      background: rgba(149, 247, 254, 0.5); }
    html .weather-rainbow .box.temp-7 {
      background: rgba(149, 247, 254, 0.5); }
    html .weather-rainbow .box.temp-8 {
      background: rgba(149, 247, 254, 0.5); }
    html .weather-rainbow .box.temp-9 {
      background: rgba(149, 247, 254, 0.5); }
    html .weather-rainbow .box.temp-10 {
      background: rgba(149, 247, 254, 0.5); }
    html .weather-rainbow .box.temp-11 {
      background: rgba(189, 255, 228, 0.5); }
    html .weather-rainbow .box.temp-12 {
      background: rgba(189, 255, 228, 0.5); }
    html .weather-rainbow .box.temp-13 {
      background: rgba(189, 255, 228, 0.5); }
    html .weather-rainbow .box.temp-14 {
      background: rgba(224, 255, 176, 0.5); }
    html .weather-rainbow .box.temp-15 {
      background: rgba(224, 255, 176, 0.5); }
    html .weather-rainbow .box.temp-16 {
      background: rgba(224, 255, 176, 0.5); }
    html .weather-rainbow .box.temp-17 {
      background: rgba(231, 255, 164, 0.5); }
    html .weather-rainbow .box.temp-18 {
      background: rgba(231, 255, 164, 0.5); }
    html .weather-rainbow .box.temp-19 {
      background: rgba(231, 255, 164, 0.5); }
    html .weather-rainbow .box.temp-20 {
      background: rgba(248, 255, 132, 0.5); }
    html .weather-rainbow .box.temp-21 {
      background: rgba(248, 255, 132, 0.5); }
    html .weather-rainbow .box.temp-22 {
      background: rgba(248, 255, 132, 0.5); }
    html .weather-rainbow .box.temp-23 {
      background: rgba(255, 247, 84, 0.5); }
    html .weather-rainbow .box.temp-24 {
      background: rgba(255, 247, 84, 0.5); }
    html .weather-rainbow .box.temp-25 {
      background: rgba(254, 204, 0, 0.5); }
    html .weather-rainbow .box.temp-26 {
      background: rgba(254, 204, 0, 0.5); }
    html .weather-rainbow .box.temp-27 {
      background: rgba(254, 204, 0, 0.5); }
    html .weather-rainbow .box.temp-28 {
      background: rgba(254, 204, 0, 0.5); }
    html .weather-rainbow .box.temp-29 {
      background: rgba(255, 172, 0, 0.5); }
    html .weather-rainbow .box.temp-30 {
      background: rgba(255, 172, 0, 0.5); }
    html .weather-rainbow .box.temp-31 {
      background: rgba(255, 172, 0, 0.5); }
    html .weather-rainbow .box.temp-32 {
      background: rgba(255, 172, 0, 0.5); }
    html .weather-rainbow .box.temp-33 {
      background: rgba(255, 172, 0, 0.5); }
    html .weather-rainbow .box.temp-34 {
      background: rgba(255, 124, 0, 0.5); }
    html .weather-rainbow .box.temp-35 {
      background: rgba(255, 124, 0, 0.5); }
    html .weather-rainbow .box.temp-36 {
      background: rgba(255, 124, 0, 0.5); }
    html .weather-rainbow .box.temp-37 {
      background: rgba(255, 124, 0, 0.5); }
    html .weather-rainbow .box.temp-38 {
      background: rgba(255, 124, 0, 0.5); }
    html .weather-rainbow .box.temp-39 {
      background: rgba(255, 94, 0, 0.5); }
    html .weather-rainbow .box.temp-40 {
      background: rgba(255, 94, 0, 0.5); }
    html .weather-rainbow .box.temp-41 {
      background: rgba(255, 94, 0, 0.5); }
    html .weather-rainbow .box.temp-42 {
      background: rgba(255, 94, 0, 0.5); }
    html .weather-rainbow .box.temp-43 {
      background: rgba(255, 70, 0, 0.5); }
    html .weather-rainbow .box.temp-44 {
      background: rgba(255, 70, 0, 0.5); }
    html .weather-rainbow .box.temp-45 {
      background: rgba(255, 70, 0, 0.5); }
    html .weather-rainbow .box.temp-46 {
      background: rgba(255, 70, 0, 0.5); }
    html .weather-rainbow .box.temp-47 {
      background: rgba(255, 43, 0, 0.5); }
    html .weather-rainbow .box.temp-48 {
      background: rgba(255, 43, 0, 0.5); }
    html .weather-rainbow .box.temp-49 {
      background: rgba(255, 43, 0, 0.5); }
    html .weather-rainbow .box.temp-50 {
      background: rgba(255, 43, 0, 0.5); }
    html .weather-rainbow .box .temperature img {
      margin-bottom: 15px; }
    html .weather-rainbow .box .temperature span {
      display: block;
      clear: both;
      margin-bottom: 10px; }
