<!DOCTYPE html>
<html ng-app="weather">
    <head>
        <title>Weather rainbow</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body ng-controller="mainController" class="weather-rainbow loading">
        <header ng-if="weather != null">
            <div class="inner">
                <select name="mySelect"
                        class="locations"
                        ng-options="location as location.city for location in locations | orderBy:'city'"
                        ng-change="setCity()"
                        ng-model="citySelect">
                        <option value="">Select a city</option>
                </select>
                <h1>The weather in {{ weather.city.name }} is...</h1>
            </div>
        </header>
        <main>
            <div class="intro {{randomNumber}}" ng-if="weather == null">
                <div class="inner opacity-7">
                    <div class="search-area">
                        <input type="text" id="search-city" class="search-city" ng-model="cityInput" placeholder="city" autofocus />
                        <button type="submit" for="search-city" class="search-city-click" ng-click="setCity()">Go</button>
                    </div>
                    <ul class="cities">
                        <li class="city"
                            ng-class="location.city.toLowerCase().indexOf(cityInput) > -1 ? null : 'inactive'"
                            ng-repeat="location in locations | orderBy:'city'"
                            ng-click="cityClick(location.city)">
                            {{location.city}}
                        </li>
                    </ul>
                </div>
            </div>
            <section class="present-weather" ng-if="weather != null">
                <div class="temp-{{ weatherPresent.main.temp | celciusFilter }} box">
                    <div class="temperature">
                        <img src="https://maxcdn.icons8.com/iOS7/PNG/75/Weather/{{ weatherPresent.weather[0].main | weatherFilter: weatherPresent.weather[0].main }}-75.png" width="75">
                        <span>{{ weatherPresent.main.temp | celciusFilter }} &deg;c</span>
                        <p>NOW</p>
                    </div>
                </div>
            </section>
            <ul class="weather" ng-if="weather != null">
                <li class="interval" ng-repeat="interval in weather">
                    <div class="temp-{{ interval.main.temp | celciusFilter }} box">
                        <div class="temperature">
                            <img src="https://maxcdn.icons8.com/iOS7/PNG/75/Weather/{{ interval.weather[0].main | weatherFilter: interval.weather[0].main }}-75.png" width="75">
                            <span>{{ interval.main.temp | celciusFilter }} &deg;c</span>
                            <p>
                                <span>{{ interval.dt * 1000 | date:'HH:mma' }}</span>
                                <span>{{ interval.dt * 1000 | date:'EEEE, MMMM d' }}</span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
        <script src="src/js/app.js"></script>
    </body>
</html>
