/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Weather */

* {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
	color: #3d3d3d;

	.weather-rainbow {

		header {
			position: fixed;
			top: 0;
			left: 0;
			width: 65%;
			background: rgba(255, 255, 255, 0.5);

			.locations {
				float: left;
			}

			h1 {
				float: left;
		    }
		}

		main {
			float: left;
			width: 100%;
		}

		.inner {
			padding: 20px;

			&.opacity-7 {
				background: rgba(255, 255, 255, 0.4);
				height: 100vh;
				overflow: scroll;
			}
		}

		.intro {
			width: 100%;
			float: left;
			height: 100vh;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			&.background-1 {
				background: url('../src/images/rainbow-1.jpg') no-repeat center center fixed;
			}

			&.background-2 {
				background: url('../src/images/rainbow-2.jpg') no-repeat center center fixed;
			}

			&.background-3 {
				background: url('../src/images/rainbow-3.jpg') no-repeat center center fixed;
			}

			&.background-4 {
				background: url('../src/images/rainbow-4.jpg') no-repeat center center fixed;
			}

			.search-area {
				width: 370px;
    			margin: 40px auto;

				.search-city {
					width: 300px;
					height: 60px;
					border: none;
					border-bottom: 1px solid black;
					background: transparent;
					font-size: 2em;
					padding: 10px;
				}

				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #7e7e7e;
				}

				::-moz-placeholder { /* Firefox 19+ */
					color: #7e7e7e;
				}

				:-ms-input-placeholder { /* IE 10+ */
					color: #7e7e7e;
				}

				:-moz-placeholder { /* Firefox 18- */
					color: #7e7e7e;
				}

				.search-city-click {
					border: none;
				    height: 55px;
				    font-size: 2em;
				    margin-left: 10px;
					background: none;
					cursor: pointer;
				}
			}

			.cities {
				width: 100%;

				.city {
					float: left;
					margin-bottom: 10px;
					width: 20%;
					display: block;
					cursor: pointer;

					&.inactive {
						display: none;
					}
				}
			}
		}

	    .weather {
	        width: 35%;
			float: right;

	        .interval {
	            width: 100%;
	            float: left;
	            display: block;
				margin-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
				}
	        }
	    }

		.present-weather {
			float: left;
			width: 65%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			-moz-box-sizing: border-box;
  			box-sizing: border-box;
			border-right: 10px solid #ffffff;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;

			&.Clear {
				background: url('../src/images/rainbow-Clear.jpg') no-repeat center center fixed;
			}

			&.Clouds {
				background: url('../src/images/rainbow-Clouds.jpg') no-repeat center center fixed;
			}

			&.Rain {
				background: url('../src/images/rainbow-Rain.jpg') no-repeat center center fixed;
			}

			&.Snow {
				background: url('../src/images/rainbow-Snow.jpg') no-repeat center center fixed;
			}

			.temperature {
				height: 150px;
				width: 100%;
			    position: absolute;
			    top: calc(50vh - 75px);

				p {
					font-size: 1.5em;
				}
			}

			.return-arrow {
				position: absolute;
				top: 0;
				left: 20px;
				display: block;
				cursor: pointer;
			}
		}

		.box {
			height: 100%;
			width: 100%;
			padding: 20px 0;
			text-align: center;

			&.temp--7 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--6 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--5 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--4 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--3 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--2 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp--1 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-0 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-1 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-2 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-3 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-4 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-5 {
				background: rgba(116, 202, 254, 0.5);
			}

			&.temp-6 {
				background: rgba(149, 247, 254, 0.5);
			}

			&.temp-7 {
				background: rgba(149, 247, 254, 0.5);
			}

			&.temp-8 {
				background: rgba(149, 247, 254, 0.5);
			}

			&.temp-9 {
				background: rgba(149, 247, 254, 0.5);
			}

			&.temp-10 {
				background: rgba(149, 247, 254, 0.5);
			}

			&.temp-11 {
				background: rgba(189, 255, 228, 0.5);
			}

			&.temp-12 {
				background: rgba(189, 255, 228, 0.5);
			}

			&.temp-13 {
				background: rgba(189, 255, 228, 0.5);
			}

			&.temp-14 {
				background: rgba(224, 255, 176, 0.5);
			}

			&.temp-15 {
				background: rgba(224, 255, 176, 0.5);
			}

			&.temp-16 {
				background: rgba(224, 255, 176, 0.5);
			}

			&.temp-17 {
				background: rgba(231, 255, 164, 0.5);
			}

			&.temp-18 {
				background: rgba(231, 255, 164, 0.5);
			}

			&.temp-19 {
				background: rgba(231, 255, 164, 0.5);
			}

			&.temp-20 {
				background: rgba(248, 255, 132, 0.5);
			}

			&.temp-21 {
				background: rgba(248, 255, 132, 0.5);
			}

			&.temp-22 {
				background: rgba(248, 255, 132, 0.5);
			}

			&.temp-23 {
				background: rgba(255, 247, 84, 0.5);
			}

			&.temp-24 {
				background: rgba(255, 247, 84, 0.5);
			}

			&.temp-25 {
				background: rgba(254, 204, 0, 0.5);
			}

			&.temp-26 {
				background: rgba(254, 204, 0, 0.5);
			}

			&.temp-27 {
				background: rgba(254, 204, 0, 0.5);
			}

			&.temp-28 {
				background: rgba(254, 204, 0, 0.5);
			}

			&.temp-29 {
				background: rgba(255, 172, 0, 0.5);
			}

			&.temp-30 {
				background: rgba(255, 172, 0, 0.5);
			}

			&.temp-31 {
				background: rgba(255, 172, 0, 0.5);
			}

			&.temp-32 {
				background: rgba(255, 172, 0, 0.5);
			}

			&.temp-33 {
				background: rgba(255, 172, 0, 0.5);
			}

			&.temp-34 {
				background: rgba(255, 124, 0, 0.5);
			}

			&.temp-35 {
				background: rgba(255, 124, 0, 0.5);
			}

			&.temp-36 {
				background: rgba(255, 124, 0, 0.5);
			}

			&.temp-37 {
				background: rgba(255, 124, 0, 0.5);
			}

			&.temp-38 {
				background: rgba(255, 124, 0, 0.5);
			}

			&.temp-39 {
				background: rgba(255, 94, 0, 0.5);
			}

			&.temp-40 {
				background: rgba(255, 94, 0, 0.5);
			}

			&.temp-41 {
				background: rgba(255, 94, 0, 0.5);
			}

			&.temp-42 {
				background: rgba(255, 94, 0, 0.5);
			}

			&.temp-43 {
				background: rgba(255, 70, 0, 0.5);
			}

			&.temp-44 {
				background: rgba(255, 70, 0, 0.5);
			}

			&.temp-45 {
				background: rgba(255, 70, 0, 0.5);
			}

			&.temp-46 {
				background: rgba(255, 70, 0, 0.5);
			}

			&.temp-47 {
				background: rgba(255, 43, 0, 0.5);
			}

			&.temp-48 {
				background: rgba(255, 43, 0, 0.5);
			}

			&.temp-49 {
				background: rgba(255, 43, 0, 0.5);
			}

			&.temp-50 {
				background: rgba(255, 43, 0, 0.5);
			}

			.temperature {

				img {
					margin-bottom: 15px;
				}

				span {
					display: block;
					clear: both;
					margin-bottom: 10px;
				}
			}
		}
	}
}
